<!DOCTYPE html>
<html>
<head>
    <title>Multiple Buttons</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.js"></script>
    <script>
        var socket = io();

        function buttonClicked(buttonValue) {
            socket.emit('button_pressed', buttonValue); 
            console.log(buttonValue);
        }
    </script>
</head>
<body>
    <h1>Multiple Buttons</h1>
    <button onclick="buttonClicked(1)">LED ON</button>
    <button onclick="buttonClicked(2)">LED OFF</button>
</body>
</html>